# Python virtual environment
.venv/
habit_memory/.python_deps/

# Coverage data
.coverage
htmlcov/

# Byte-compiled files
__pycache__/

.env
a_naive_approch/.env
an_infotheoretic_approach/.env
an_infotheoretic_approach/.venv/
